---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-12">
    <Text
      tag="p"
      variant="textSM"
      class="font-serif text-primary/60"
    >
      (姓)王 (Wáng)
      <br>
      (名)聪 (Cōng)
      <br>
      (字)言之 (Yánzhī)
      <br>
      (号)天鸣 (Tiānmíng)
    </Text>
  </Wrapper>
</section>

