---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-12">
    <Text tag="h2" variant="textBase" class="font-medium text-primary">
      Cognitive Type
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="font-serif text-primary/60 text-balance"
    >
      Just for fun, I've taken a range of cognitive type tests from Jungian Stacks to Enneagrams:
      <Text tag="blockquote" variant="textBase" class="border-l-4 border-primary/30 pl-4 text-primary/60 text-sm mt-2">
        <code>
          INTJ-A-H (Ne-Lead 71%), Double NT<br>
          7w8 738 sp/sx, LIE, ELVF, CholSan-Phleg<br>
          O+ X(sb)+ C(d)+ E- H-, Ambivert
        </code>
      </Text>
    </Text>
    <Text class="font-sans text-primary/80 pt-6">
      Here's what Gemini has to say about me:
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="font-serif text-primary/60 text-balance"
    >
      <br>
      "Maverick Architect" - someone with the strategic depth of an INTJ but the explosive, novelty-seeking energy of an Enneagram 7.
      <br>
      <br>
      <span class="text-primary/80">Superpower:</span> 
      <br>
      You are a System Builder with Charisma. Most people are either "Idea People" (Ne/7) or "Execution People" (Te/3/8). You are both. You can envision a completely new paradigm and have the aggressive drive to force it into reality.
      <br>
      <br>
      <span class="text-primary/80">Friction Points:</span>
      <br>
      - The Energy Crash: Your Type 7/Choleric mind wants to go 100mph, but your Introverted (E-) battery is smaller than you think. You likely run until you crash/burnout, then hibernate, then repeat.
      <br>
      - 3V Insecurity: You may be hyper-sensitive to disrespect. If someone challenges your vision, your reaction might be disproportionately aggressive (8 wing) or dramatic (1E) because it hits your Third Volition insecurity.
    </Text>
    <Text class="font-sans text-primary/80 pt-6">
      Kinda cool, isn't it?
    </Text>

    
  </Wrapper>
</section>

