---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
    <div class="pb-2 border-b border-dotted border-primary/10">
      <Text tag="h1" variant="textBase" class="text-primary">
        Actualizing a sustainable future by innovating towards a more resilient society.
      </Text>
      <br>
      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        I am rebuilding my personal website over the Christmas break.
        Nothing much here yet, unless you're looking for my <a href="/curriculum-vitae" class="text-primary">curriculum vitae</a>.
      </Text>
    </div>
  </Wrapper>
</section>
