---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-20 pb-12 lg:pt-30">
    <div class="pb-2 border-b border-dotted border-primary/10">
      <Text tag="h1" variant="textBase" class="text-primary">
        Entrepreneur, Futurist, AI Engineer, Educator, Impact Investor,
        <br>
        Regenerative Designer, Longevity Enthusiast, Polymath-in-Training
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        Actualizing a sustainable future by innovating towards a more resilient society.
      </Text>

      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance mt-4"
      >
        I am rebuilding my personal website over the this winter.
        <br>
        Mostly, I've created stub pages to curate and move my notes from Obsidian.
        <br>
        Nothing much here yet, unless you're looking for my <a href="/curriculum-vitae" class="text-primary">curriculum vitae</a>.
      </Text>
    </div>
  </Wrapper>
</section>
