---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
    <div class="pb-2 border-b border-dotted border-primary/10">
      <Text tag="h1" variant="textBase" class="text-primary">
        Design Smarter. Build Better.
      </Text>

      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        A course for developers who care about design. Learn to craft beautiful,
        responsive UIs with precision — from layout to component polish.
      </Text>
    </div>
  </Wrapper>
</section>
