---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const cards = [
  {
    title: "Domains",
    subtitle:
      "Domains are how I organize my thinking, these are atlas-level overviews on my tracked topics.",
  },
  {
    title: "Influences",
    subtitle:
      "People and resources that influenced my thinking, tagged by domain with my reflections.",
  },
  {
    title: "Lexicon",
    subtitle:
      "Lexicon is my personal dictionary of key terms, concepts, and distinctions that I use in my work.",
  },
  {
    title: "Books, Blogs, Courses",
    subtitle:
      "Different modes of my intellectual output, organized by domain, short/long-form, interactive/static, etc.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-12">
    <Text tag="h2" variant="textBase" class="font-medium text-primary">
      How to Navigate This Site
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="font-serif text-primary/60 text-balance"
    >
      I try to structurally reflect on my influences to inform my domains of understanding, then write out my perspectives in different modes.
    </Text>
    <div
      class="pt-2 mt-2 border-t border-dotted grid gap-8 md:grid-cols-2 border-primary/10 text-balance"
    >
      {
        cards.map((card) => (
          <div>
            <Text tag="h3" variant="textSM" class="text-primary">
              {card.title}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-1 font-serif text-primary/60"
            >
              {card.subtitle}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>

