---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const data = [
  {
    title: "Corporate Innovation Leaders",
    subtitle:
      "CXOs, Heads of R&D/People, Strategy VPs, and Sustainability Directors",
  },
  {
    title: "VCs & Impact Investors",
    subtitle:
      "General Partners, ESG Fund Managers, Family Offices, and Venture Studios",
  },
  {
    title: "Academia & Research Institutions",
    subtitle:
      "University Deans, Business School Faculty, EdTech Developers",
  },
  {
    title: "Policy Makers & Ethicists",
    subtitle:
      "Regulators, AI Ethics Officers, Think Tank Researchers (e.g., WEF).",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-12">
    <Text tag="h2" variant="textBase" class="font-medium text-primary">
      Intended Audience / Stakeholders
    </Text>

    <Text
      tag="p"
      variant="textBase"
      class="font-serif text-primary/60 text-balance"
    >
      Given that I write about the role innovation plays in actualizing the Future of "X",
      I am most interested in working with people who are passionate about creating a more sustainable future and resilient society.
    </Text>

    <div
      class="pt-2 mt-2 border-t border-dotted grid gap-8 md:grid-cols-2 border-primary/10 text-balance"
    >
      {
        data.map((item) => (
          <div>
            <Text tag="h3" variant="textSM" class="text-primary">
              {item.title}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-1 font-serif text-primary/60"
            >
              {item.subtitle}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
