---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";

// Icons
import GoogleColor from "@/components/fundations/icons/GoogleColor.astro";
---

<BaseLayout hideNav={true} hideFooter={true}>
  <div class="w-full max-w-md px-8 py-24 mx-auto lg:py-32">
    <div>
      <a href="/" class="text-xs text-primary hover:text-primary/60">
        Go back home</a
      >
      <Text tag="h1" variant="textSM" class="mt-12 font-medium text-primary">
        Sign in
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        Welcome back. Enter your email and password like you haven’t forgotten
        them for the 12th time this week.
      </Text>
    </div>
    <form class="pt-2 mt-2 border-t border-dotted border-primary/10 space-y-4">
      <div class="w-full">
        <div class="flex items-baseline justify-between mb-1">
          <label for="email" class="text-xs font-medium text-primary/60"
            >Email Address</label
          >
        </div>
        <div class="relative z-0 focus-within:z-10">
          <input
            id="email"
            name="email"
            type="email"
            placeholder="you@example.com"
            class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-secondary border border-transparent transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-primary/60 ring-1 ring-primary/10 placeholder-primary/30 focus:border-accent focus:ring-accent/10 focus:ring-2 focus:outline-none shadow-sm"
            inputmode="email"
          />
        </div>
      </div>
      <div class="w-full">
        <div class="flex items-baseline justify-between mb-1">
          <label for="password" class="text-xs font-medium text-primary/60"
            >Password</label
          >
        </div>
        <div class="relative z-0 focus-within:z-10">
          <input
            required
            id="password"
            name="password"
            placeholder="••••••••"
            class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-secondary border border-transparent transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-primary/60 ring-1 ring-primary/10 placeholder-primary/30 focus:border-accent focus:ring-accent/10 focus:ring-2 focus:outline-none shadow-sm"
            aria-required="true"
          />
        </div>
      </div>
      <div class="flex items-center">
        <input
          type="checkbox"
          id="login-remember"
          name="login-remember"
          class="border-0 rounded-full shadow-sm ring-1 ring-primary/10 text-accent focus:ring-accent focus:ring-offset-2 focus:ring-2 size-3"
        />
        <label
          for="login-remember"
          class="ml-2 text-xs font-medium text-primary/60"
        >
          Remember me for 30 days
        </label>
      </div>
      <div class="flex flex-wrap gap-2">
        <Button size="xs" variant="accent" gap="sm" type="submit" class="w-fit">
          Sign in with email
        </Button>
        <Button iconOnly size="xs" variant="muted" type="submit">
          <GoogleColor slot="icon" size="xs" />
        </Button>
      </div>
    </form>
    <p class="mt-12 text-xs font-medium text-primary/60">
      Dont' have an account?
      <a
        href="/forms/sign-up"
        class="font-medium text-accent hover:text-primary/60"
      >
        Sign up
      </a>
    </p>
  </div>
</BaseLayout>
