---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import Tiers from "@/components/pricing/Tiers.astro";
import Faq1 from "@/components/helpCenter/Faq1.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
      <Text tag="h1" variant="textBase" class="text-primary">
        Fair pricing, built for learners and teams alike
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        Whether you're solo, scaling, or managing a full team—pick a plan that
        fits and start building with Astro today.
      </Text>
      <!-- Pricing Toggle -->
      <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex justify-center p-1 mt-4 overflow-hidden gap-2 lg:mx-0 rounded-md w-fit"
      >
        <div
          id="toggle-slider"
          class="absolute inset-0 w-1/2 rounded-full bg-primary/5 transition-transform duration-200 ease-in-out"
        >
        </div>
        <button
          id="monthly-btn"
          class="relative z-10 text-xs px-4 py-1"
          type="button"
          aria-pressed="true"
        >
          Monthly
        </button>
        <button
          id="annual-btn"
          class="relative z-10 text-xs px-4 py-1"
          type="button"
          aria-pressed="false"
        >
          Annual
        </button>
      </div>
      <Tiers />
    </Wrapper>
  </section>
  <Faq1 />
</BaseLayout>
