---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import TeachersEntry from "@/components/teachers/TeachersEntry.astro";
// Content
import { getCollection } from "astro:content";
const allAuthors = await getCollection("teachers");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
      <Text tag="h1" variant="textBase" class="text-primary">
        Taught by practitioners, not influencers.
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        This course is led by a single expert instructor — but sometimes we
        bring in guest teachers with deep, hands-on experience to share their
        insights.
      </Text>

      <div
        class="pt-2 mt-2 border-t border-dotted border-primary/10 flex flex-col gap-2"
      >
        {
          allAuthors
            .sort((a, b) => {
              const nameA = a.data.name.toLowerCase();
              const nameB = b.data.name.toLowerCase();
              return nameA < nameB ? -1 : nameA > nameB ? 1 : 0;
            })
            .map((post) => <TeachersEntry post={post} />)
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
