---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import WorksEntries from "@/components/works/WorksEntries.astro";
import { getCollection } from "astro:content";
const allDomains = (await getCollection("domains")).sort((a, b) => 
  a.data.title.localeCompare(b.data.title)
);

const topLevelDomains = allDomains.filter(
  (domain) => !domain.data.parentDomains || domain.data.parentDomains.length === 0
);
const subdomains = allDomains.filter(
  (domain) => domain.data.parentDomains && domain.data.parentDomains.length > 0
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
      <Text tag="h1" variant="textBase" class="text-primary"> Domains </Text>

      <Text
        tag="p"
        variant="textBase"
        class="font-serif text-primary/60 text-balance"
      >
        Domains are how I organize my thinking, these notes are atlas-level overviews. Sometimes, a topic crosses multiple domains at different levels of abstraction. I do my best to avoid cyclic dependencies.
      </Text>

      {topLevelDomains.length > 0 && (
        <div class="mt-8">
          <div
            class="pt-2 flex flex-col gap-4"
          >
            {topLevelDomains.map((post) => <WorksEntries post={post} basePath="/domains/" />)}
          </div>
        </div>
      )}

      {subdomains.length > 0 && (
        <div class="mt-12">
          <Text tag="h2" variant="textBase" class="text-primary mb-4">
            Subdomains
          </Text>
          <div
            class="border-t border-dotted border-primary/10 pt-2 flex flex-col gap-4"
          >
            {subdomains.map((post) => <WorksEntries post={post} basePath="/domains/" />)}
          </div>
        </div>
      )}
    </Wrapper>
  </section>
</BaseLayout>

