<div class="flex items-center gap-2">
  <!-- Default theme: white base -->
  <button
    data-theme="default"
    class="bg-white rounded-full theme-dot outline-primary/20 size-2 outline-2 transition-all"
    title="Default"></button>

  <button
    data-theme="dark"
    class="bg-black rounded-full theme-dot outline-primary/20 size-2 outline-2 transition-all"
    title="Dark"></button>
 
</div>
